
<div class="container w-50">
<h1>Stupid Coaching</h1>
<form action="/answer" data-turbo="false" class="input-group mt-3">
  <input type="text" name="question" class="form-control" placeholder="Talk yo your coach here...">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
</div>
